* {
    margin: 0;
    padding: 0;
}

body {
    background: #FAFAFA;
    color: #333;
}

form {
    margin: 3em auto;
}

div.form-group {
    position: relative;
    margin-bottom: 30px;
}

label.error {
    color: red;
    position: absolute;
    top: -20px;
    font-size: 14px;
    font-weight: normal;
}